.nav-btn {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;

    padding: 0.3rem;

    border: solid 1px var(--std-background-color);
    border-radius: 0.5rem;

    background-color: var(--std-background-color);
    color: var(--std-font-color);

    transition:  all 300ms ease-in-out;

    min-width: 5rem;
}

.nav-btn:hover {
    cursor: pointer;
    transform: scale(1.2);

    border: solid 1px var(--std-title-color);

    color: var(--std-title-color);

    box-shadow: 0 0 20px rgb(255, 195, 255);
}

#signup-submit {
    margin: 0.3rem auto;
}

#recovery-signin {
    width: fit-content;
    margin: 0 auto;
    color: var(--std-font-color);
    display: block;
}

#recovery-signin:checked {
    color: var(--std-font-color);
}